.sidebar:before{background-color: #222222
}
.navbar{
    background-color: #009BFF;
    height: 80px;
    line-height: 60px;
}
.navbar-brand{line-height: 50px;}
.light-blue{margin-top: 20px;}
.ace-nav>li.light-blue>a {background-color:#2ba2e6;}
.nav-list>li{
    border-top: none;
    border-bottom: 1px solid #282828;

}
.nav-list>li>a{
    background-color: #3e3e3e;
    color: #bfbfbf;
    height: 50px;
    line-height: 47px;

}
.nav-list>li .b-nav-parent{
    font-size: 16px;
}
.nav-list>li .b-nav-parent:hover{
    background: #3e3e3e;
    font-weight: bold;
}

.nav-list{background-color: red}

.common-top{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin:0 auto;
    margin-bottom: 20px;
}
.common-content{
    width: 100%;
   margin-left: 30px;
}
.common-content div{
    float: left;
    width:300px;
    text-align: center;
    /*width: 337px;*/

}
.common-div{
    width: 337px;
    height: 173px;
    background-color: rgba(0, 155, 255, 1);
    color: #fff;

}
.common-content div p{
    margin: 20px;
    font-size: 16px;
}
.content-div{
    min-width:380px;
    min-height: 305px;
    border: 1px solid #cdd0cb;
    margin: 10px;
}
.content-div .content-div-title{
    margin:0 !important;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #009BFF;
    color:#fff;
    text-align: left;
    padding-left: 10px;

}
.content-info{
    width: 400px !important;
}
.content-info-left{
    width: 240px !important;
    height: 240px;
    float: left;
}
.content-info-right{
    width: 140px !important;
    height: 240px;
    float: right;
}
.content-info-left p{
    text-align: left;
    height: 28px;
    line-height: 15px;
    border-left: 4px solid #019BFF;
    padding-left: 10px;
}
.content-info-left .num{
    padding-left: 20px;
}
.content-info-left .title{
    display: inline-block;
    width: 100px !important;
    line-height: 30px;
}


.layui-tab{
    width: 400px !important;
}
.layui-tab-title li{
    width:200px;
    background-color: #D9D5D6;
    color: #767676;
}

.layui-tab-title .layui-this {
    color:#fff;
    height: 40px;
    background-color: #009BFF;
}

.layui-tab-content .content-div{
    margin: 0;
    border: none;
}

.content-yuan{
    margin-top: 50px;
    width: 134px !important;
    height: 134px;
    background-color: rgba(0, 155, 255, 1);
    border: solid 1px rgba(0, 155, 255, 1);
    border-radius: 70px;
}







